<%- include('partials/header.ejs') %>

<main class="container container-main">

  <div class="row">
<%- include('partials/leftMenu.ejs') %>

      <section class="col-lg-9">

        <div class="row">
          <% for (let figurine of figurines) { %>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a itemprop="url" href="/article/<%=figurine.id%>">
                <img class="card-img-top" src="./images/<%=figurine.name%>.png" alt="">
                <div class="badge-category badge badge-pill badge-gentil"><%=figurine.category%></div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article/<%=figurine.id%>"><%=figurine.name%></a>
                </h4>
                <h5><%=figurine.price%></h5>
                <p class="card-text"><%=figurine.description%></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/cart" class="link-add-cart">+ Ajouter au panier</a>
              </div>
            </div>
          </div>

          <% } %>

        </div>
        <!-- /.row -->

      </section>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

<%- include('partials/footer.ejs') %>