<%- include('partials/header') %>

<main class="container container-main">

  <div class="row">

<%- include('partials/leftMenu') %>

      <section class="col-lg-9">

        <article class="row">
          <header class="col-lg-6">
            <img intemprop="image" class="" src="/images/<%=figurine.name.toLowerCase()%>.png" alt="Illustration de la figurine <%=figurine.name%>">
          </header>

          <main class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">
                    <%=figurine.name%>
                    <div class="badge badge-pill badge-gentil"><%=figurine.category%></div>
                  </h3>
                  <p class="card-text">Taille réelle : <%=figurine.size%></p>
                  <p class="card-text"><%=figurine.description%></p>
                  <p class="card-text">
                    Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <h5><%=figurine.price%></h5>
                  <p class="card-text">
                    <a href="/cart/add/<%= figurine.id%>" class="link-add-cart">+ Ajouter au panier</a>
                  </p>
              </div>
            </div>

          </main>
        </article>
        <!-- /.row -->

      </section>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <%- include('partials/reviewModal') %>

<%- include('partials/footer') %>